<div class="container d-flex justify-container-center ">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/omen2-768x432.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Omen</h5>
          <p class="card-text">Personagem de valorant, que tem a categoria como controlador.</p>
          <a href="#" class="btn btn-primary">Veja inteiro</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/omen2-768x432.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Omen</h5>
          <p class="card-text">Personagem de valorant, que tem a categoria como controlador.</p>
          <a href="#" class="btn btn-primary">Veja inteiro</a>
        </div>
      </div>
</div>